#header
  %center
    %h1= @title

    %p
      %a{href:"/"} View Own 
      | 
      %a{href:"/all"} View All  

#content
  #trashies
    - index = 0
    - prev_series = nil
    - @pile.each do |key, meta|
      - index += 1
    
      - if meta['series'] != prev_series
        - if prev_series.nil?
          %h1= meta['series']
        - else
          %h1.page-break= meta['series']
        - prev_series = meta['series']
  
      .trashy{:"data-name" => meta['name'], 
              :"data-series" => meta['series'], 
              :"data-item" => meta['item'], 
              :"data-team" => meta['team'], 
              :"data-finish" => meta['finish'], 
              :"data-rarity" => meta['rarity']} 
      
        %center
          %img{src:"/#{meta['imagepath']}"}
          %br
          %span.id #{meta['id']} 
          %span.name #{meta['name']}
          %br
          %span.series #{meta['series']}, ##{meta['item']}
          %br
          %span.team #{meta['team']}
          %br
          %span.finish #{meta['finish']}, #{meta['rarity']}
          %br
          %span.index [#{index}]
          %br
