%html
  %head
    %title= @title

    -# %meta{name:"viewport", content:"width=device-width, initial-scale=1, maximum-scale=10"}

    :css
      #container { border: 0px solid red; margin: auto; }

      #header { border: 0px solid green; }
      #header { position:fixed; top:0px; margin:auto; z-index:100000; width:100%; }
      #header { background:#fff; height:75px; opacity:0.99}
      #header { border-bottom: 1px solid  #efe }

      #content { margin-top: 100px }

      #trashies { border: 0px solid blue; margin: auto }
      h1 { clear: both; margin: 0 auto; text-align: center }
      .trashy { border: 0px solid }
      .trashy { padding-top: 25px; color: black; width: 200px; height: 300px }
      .trashy { float: left }
      .trashy img { margin: auto }
      .trashy span { font-size: 90% }
      .trashy span { margin: auto }
      .trashy span.id { display: none }
      .trashy span.name { font-weight: bold }
      .trashy span.index { font-size: 60% }

      a { text-decoration: none }
      a:hover { text-decoration: underline }

      @media print {
        #header { display:none }
        #header { height:0px }
        #content { margin-top: 0px }
        .page-break { page-break-before: always }
        .trashy { padding-top: 25px; color: black; width: 140px; height: 175px }
        .trashy img { width: 50%; height: auto; }
      }

  %body

    #container
      = yield
